<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Gallery Pavlo</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<main>
		<div class="container">
			<h1 align="center">Вход в Панель Администратора</h1><br>
			<div class="row">
				<div class="col-md-2 col-md-push-5">
					<form method="post">
						<input type="password" name="admin_password" placeholder="Пароль" class="form-control">
						<br>
						<div align="center"><button type="submit" class="btn btn-default">Войти</button></div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>