		<footer>
			<div class="txt"><a href="https://vk.com/geminate" target="_blank"><span>Павел Мягков</span></a></div>
			<span>© Все права защищены</span>
		</footer>
	</main>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAlRiD1BiamLeo2az2d8HIrTohyTiJtgcQ" defer></script>
	<script src="/js/common.js"></script>
</body>
</html>